@import "./reset.css";

svg {
  /* Prevents SVG pixel shifting during animations in Safari  */
  transform: translate3d(0, 0, 0);
}

@property --accent-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

@property --accent-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --accent-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --yellow-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(20 12% 95%);
}

@property --yellow-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(42 100% 52%);
}

@property --yellow-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(33 100% 35%);
}

@property --green-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 0% 95%);
}

@property --green-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(100 78% 43%);
}

@property --green-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(99 78% 25%);
}

@property --red-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(0 20% 95%);
}

@property --red-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(24 97% 49%);
}

@property --red-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(24 96% 33%);
}

@property --blue-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(216 20% 95%);
}

@property --blue-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(212 97% 49%);
}

@property --blue-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(212 97% 27%);
}

@property --brown-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(20 12% 95%);
}

@property --brown-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(34 100% 32%);
}

@property --brown-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(35 49% 21%);
}

@property --purple-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(280 12% 95%);
}

@property --purple-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(271 61% 54%);
}

@property --purple-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: hsl(271 100% 26%);
}

:root {
  /* Scale */
  --size-scale: var(--system-scale, 1);
  --text-scale: var(--system-text-scale, 1);
  --radius-scale: var(--system-radius-scale, 1);

  /* Spacing */
  --size-0: 0;
  --size-px: 1px;
  --size-1-5px: calc(0.09375rem * var(--size-scale));
  --size-0-5: calc(0.125rem * var(--size-scale));
  --size-0-75: calc(0.1875rem * var(--size-scale));
  --size-1: calc(0.25rem * var(--size-scale));
  --size-1-5: calc(0.375rem * var(--size-scale));
  --size-2: calc(0.5rem * var(--size-scale));
  --size-2-5: calc(0.625rem * var(--size-scale));
  --size-3: calc(0.75rem * var(--size-scale));
  --size-3-5: calc(0.875rem * var(--size-scale));
  --size-4: calc(1rem * var(--size-scale));
  --size-4-5: calc(1.125rem * var(--size-scale));
  --size-5: calc(1.25rem * var(--size-scale));
  --size-5-5: calc(1.375rem * var(--size-scale));
  --size-6: calc(1.5rem * var(--size-scale));
  --size-6-5: calc(1.625rem * var(--size-scale));
  --size-7: calc(1.75rem * var(--size-scale));
  --size-7-5: calc(1.875rem * var(--size-scale));
  --size-8: calc(2rem * var(--size-scale));
  --size-8-5: calc(2.125rem * var(--size-scale));
  --size-9: calc(2.25rem * var(--size-scale));
  --size-9-5: calc(2.375rem * var(--size-scale));
  --size-10: calc(2.5rem * var(--size-scale));
  --size-10-5: calc(2.625rem * var(--size-scale));
  --size-11: calc(2.75rem * var(--size-scale));
  --size-11-5: calc(2.875rem * var(--size-scale));
  --size-12: calc(3rem * var(--size-scale));
  --size-13: calc(3.25rem * var(--size-scale));
  --size-13-5: calc(3.375rem * var(--size-scale));
  --size-14: calc(3.5rem * var(--size-scale));
  --size-14-5: calc(3.625rem * var(--size-scale));
  --size-16: calc(4rem * var(--size-scale));
  --size-18: calc(4.5rem * var(--size-scale));
  --size-20: calc(5rem * var(--size-scale));
  --size-23: calc(5.75rem * var(--size-scale));
  --size-24: calc(6rem * var(--size-scale));
  --size-28: calc(7rem * var(--size-scale));
  --size-32: calc(8rem * var(--size-scale));
  --size-36: calc(9rem * var(--size-scale));
  --size-40: calc(10rem * var(--size-scale));
  --size-42: calc(10.5rem * var(--size-scale));
  --size-44: calc(11rem * var(--size-scale));
  --size-48: calc(12rem * var(--size-scale));
  --size-50: calc(12.5rem * var(--size-scale));
  --size-52: calc(13rem * var(--size-scale));
  --size-56: calc(14rem * var(--size-scale));
  --size-60: calc(15rem * var(--size-scale));
  --size-64: calc(16rem * var(--size-scale));
  --size-72: calc(18rem * var(--size-scale));
  --size-80: calc(20rem * var(--size-scale));
  --size-84: calc(21rem * var(--size-scale));
  --size-88: calc(22rem * var(--size-scale));
  --size-96: calc(24rem * var(--size-scale));
  --size-112: calc(28rem * var(--size-scale));
  --size-128: calc(32rem * var(--size-scale));
  --size-150: calc(37.5rem * var(--size-scale));
  --size-160: calc(40rem * var(--size-scale));
  --size-216: calc(54rem * var(--size-scale));
  --size-272: calc(68rem * var(--size-scale));

  /* Border radius */
  --radius-1: calc(0.25rem * var(--radius-scale));
  --radius-2: calc(0.375rem * var(--radius-scale));
  --radius-2-5: calc(0.5rem * var(--radius-scale));
  --radius-3: calc(0.625rem * var(--radius-scale));
  --radius-4: calc(0.75rem * var(--radius-scale));
  --radius-5: calc(0.875rem * var(--radius-scale));
  --radius-6: calc(1rem * var(--radius-scale));
  --radius-7: calc(1.25rem * var(--radius-scale));
  --radius-round: 9999px;

  /* Font familes */
  --font-family-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-monospace:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  /* Font sizes */
  --font-size-0: calc(0.625rem * var(--text-scale));
  --font-size-1: calc(0.6875rem * var(--text-scale));
  --font-size-2: calc(0.75rem * var(--text-scale));
  --font-size-2-5: calc(0.78125rem * var(--text-scale));
  --font-size-3: calc(0.8125rem * var(--text-scale));
  --font-size-4: calc(0.875rem * var(--text-scale));
  --font-size-5: calc(0.9375rem * var(--text-scale));
  --font-size-6: calc(1rem * var(--text-scale));
  --font-size-7: calc(1.125rem * var(--text-scale));
  --font-size-8: calc(1.3125rem * var(--text-scale));

  /* Font weight */
  --font-weight-4: 400;
  --font-weight-4-5: 450;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;

  /* Line height */
  --font-lineheight-0: 100%;
  --font-lineheight-1: 125%;
  --font-lineheight-2: 135%;
  --font-lineheight-3: 145%;
  --font-lineheight-4: 175%;
  --font-lineheight-5: 200%;

  /* Letter spacing */
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;

  /* Z-Index */
  --layer-0: 0;
  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;

  /* Colors */
  --accent-1: var(--color-highlight-1);

  /* Backwards compatibility */
  --color-white: hsl(0 0% 100% / 1);
  --color-error: hsl(10 100% 38% / 1);
  --color-text: hsl(230 32% 14% / 1);
  --color-blue: hsl(226 74% 52% / 1);
  --color-green: hsl(109 77% 24% / 1);
  --color-green-2: hsl(109 47% 44% / 1);
  --color-purple: hsl(244 37% 49% / 1);
  --color-red: hsl(5 60% 53% / 1);

  --color-yellow: hsl(41 75% 55% / 1);
  --color-yellow-2: hsl(33 74% 49% / 1);

  /* Surfaces */
  --color-surface-1: hsl(240 100% 100% / 1);
  --color-surface-2: hsl(240 12% 95% / 1);

  --color-highlight-1: hsl(221 88% 20% / 0.06);

  /* Borders */
  --color-border-1: hsl(220 24% 90%);
  --color-border-2: hsl(240 3 94% / 1);

  /* Shadows */
  --shadow-canvas: 0 4px 16px -8px hsl(0 0 0 / 0.05), 0 0 0 1px hsl(0 0 0 / 0.05);

  --shadow-1:
    0px 0px 0px 1px rgba(0, 1, 165, 0.06), 0px 2px 3px -1px rgba(26, 83, 204, 0.06),
    0px 3px 12px -4px rgba(26, 83, 204, 0.05), 0px 4px 16px -8px rgba(26, 83, 204, 0.05),
    0px 0px 0px 1px rgba(225, 225, 239, 0.5);
  --shadow-4:
    0px 0px 0px 1px rgba(0, 1, 165, 0.08), 0px 6px 16px -4px rgba(26, 83, 204, 0.12),
    0px 16px 32px -8px rgba(26, 83, 204, 0.1), 0px 24px 48px -12px rgba(26, 83, 204, 0.08);

  @media (color-gamut: p3) {
    --color-surface-1: color(display-p3 0.9961 0.9961 1);

    --color-surface-2: color(display-p3 0.9451 0.9451 0.9569);

    --color-highlight-1: color(display-p3 0.0243 0.1391 0.3785 / 0.06);

    --color-border-1: color(display-p3 0.8784 0.8941 0.9255);

    --color-error: color(display-p3 0.7673 0.1279 0);
    --color-text: color(display-p3 0.0941 0.1098 0.1843);

    /* Yellow - display-p3 */
    --yellow-1: color(display-p3 0.9569 0.949 0.9451);
    --yellow-2: color(display-p3 1 0.7137 0.0471);
    --yellow-3: color(display-p3 0.7 0.385 0);

    /* Green - display-p3 */
    --green-1: color(display-p3 0.9529 0.9529 0.9529);
    --green-2: color(display-p3 0.3216 0.7608 0.0941);
    --green-3: color(display-p3 0.1882 0.4431 0.0549);

    /* Red - display-p3 */
    --red-1: color(display-p3 0.9608 0.9412 0.9412);
    --red-2: color(display-p3 0.9715 0.3981 0.0158);
    --red-3: color(display-p3 0.6494 0.2661 0.0106);

    /* Blue - display-p3 */
    --blue-1: color(display-p3 0.9412 0.9507 0.9608);
    --blue-2: color(display-p3 0.0158 0.4618 0.9715);
    --blue-3: color(display-p3 0.0087 0.2526 0.5313);

    /* Brown - display-p3 */
    --brown-1: color(display-p3 0.9569 0.949 0.9451);
    --brown-2: color(display-p3 0.6339 0.3592 0);
    --brown-3: color(display-p3 0.3102 0.2225 0.1078);

    /* Purple - display-p3 */
    --purple-1: color(display-p3 0.9529 0.9451 0.9569);
    --purple-2: color(display-p3 0.5491 0.2588 0.8207);
    --purple-3: color(display-p3 0.2704 0 0.5234);

    /* Backwards compatible colors */
    --color-blue: color(display-p3 0.1648 0.3306 0.8752);
    --color-green: color(display-p3 0.1249 0.4248 0.0552);
    --color-green-2: color(display-p3 0.3098 0.6471 0.2314);
    --color-purple: color(display-p3 0.3292 0.3076 0.6689);
    --color-red: color(display-p3 0.8118 0.298 0.2549);
    --color-yellow: color(display-p3 0.8902 0.6745 0.2196);
    --color-yellow-2: color(display-p3 0.8546 0.5265 0.1255);
  }

  @media (prefers-color-scheme: dark) {
    /* Surfaces */
    --color-surface-1: hsl(228 2% 7% / 1);
    --color-surface-2: hsl(228 2% 9% / 1);

    --color-highlight-1: hsl(223 28% 90% / 0.06);
    --color-border-1: hsl(230 10% 24%);
    --color-error: hsl(10 100% 65% / 1);
    --color-text: hsl(40 12% 95% / 1);
    --color-white: hsl(0 0 0% / 1);

    /* Yellow */
    --yellow-1: hsl(30 9% 9%);
    --yellow-3: hsl(42 100% 78%);

    /* Green */
    --green-1: hsl(120 4% 9%);
    --green-3: hsl(100 79% 78%);

    /* Red */
    --red-1: hsl(0 11% 7%);
    --red-3: hsl(24 96% 78%);

    /* Blue */
    --blue-1: hsl(210 9% 9%);
    --blue-3: hsl(212 96% 78%);

    /* Brown */
    --brown-1: hsl(15 9% 9%);
    --brown-3: hsl(34 49% 61%);

    /* Purple */
    --purple-1: hsl(270 9% 9%);
    --purple-3: hsl(271 100% 82%);

    /* Shadows */
    --shadow-canvas: 0 0 0 1px hsl(0 0 100 / 0.04);

    --shadow-1:
      0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 2px 3px -1px rgba(0, 0, 0, 0.12),
      0px 3px 12px -4px rgba(0, 0, 0, 0.12), 0px 4px 16px -8px rgba(0, 0, 0, 0.12),
      0px 0px 0px 1px rgba(237, 234, 223, 0.2);
    --shadow-4:
      0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 6px 16px -4px rgba(0, 0, 0, 0.24),
      0px 16px 32px -8px rgba(0, 0, 0, 0.2), 0px 24px 48px -12px rgba(0, 0, 0, 0.16);
  }

  @media (prefers-color-scheme: dark) and (color-gamut: p3) {
    --color-surface-1: color(display-p3 0.0686 0.0692 0.0714);
    --color-surface-2: color(display-p3 0.0884 0.0891 0.092);

    --color-highlight-1: color(display-p3 0.8745 0.8902 0.9294 / 0.06);
    --color-border-1: color(display-p3 0.2118 0.2196 0.2588);

    --color-error: color(display-p3 1 0.4154 0.2985);
    --color-text: color(display-p3 0.9569 0.9529 0.9451);

    /* Yellow - display-p3 */
    --yellow-1: color(display-p3 0.0963 0.0921 0.0837);
    --yellow-3: color(display-p3 1 0.8678 0.56);

    /* Green - display-p3 */
    --green-1: color(display-p3 0.0864 0.0936 0.0864);
    --green-3: color(display-p3 0.7263 0.9515 0.6085);

    /* Red - display-p3 */
    --red-1: color(display-p3 0.0784 0.0627 0.0627);
    --red-3: color(display-p3 0.9929 0.7374 0.5671);

    /* Blue - display-p3 */
    --blue-1: color(display-p3 0.0824 0.0902 0.098);
    --blue-3: color(display-p3 0.5671 0.7658 0.9929);

    /* Brown - display-p3 */
    --brown-1: color(display-p3 0.0963 0.0879 0.0837);
    --brown-3: color(display-p3 0.7989 0.6352 0.4211);

    /* Purple - display-p3 */
    --purple-1: color(display-p3 0.0921 0.0837 0.0963);
    --purple-3: color(display-p3 0.826 0.64 1);
  }

  @media (prefers-reduced-motion) {
    --prefers-reduced-motion: 0ms;
  }
}

html {
  color-scheme: light dark;
  overscroll-behavior: none;
}

body {
  background-color: var(--color-surface-2);
  color: var(--color-text);
  cursor: default;
  block-size: 100dvh;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);

  -webkit-font-smoothing: antialiased;
}

[data-melt-popover-content],
[data-melt-dropdown-menu] {
  /**
   * Melt wraps every popover with an element containing the `[data-melt-popover-content]` attribute
   * This same element is what is positioned absolutely to show the popover in the right place
   *
   * Unfortunately, what it doesn't do is apply a z-index to this container, even though elements
   * with a position of absolute stops child element's z-index from being larger than outside
   * elements. This means any other element on the page with a z-index will be above the popover
   * (yes really)
   *
   * By applying a z-index to all popovers, we can avoid this, and since they should always appear
   * on the top, we can safely apply our largest z-index variable.
   */
  z-index: var(--layer-4);
}
