/* Global base styles */

html {
  color-scheme: light dark;
  overscroll-behavior: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--surface-dark);
  block-size: 100dvh;
  color: var(--text);
  cursor: default;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-3);
}

a, button {
  color: var(--text-bright);
}
